<h1> <%= @sub.name %></h1>
<p>Moderator: <strong><%= @sub.user.username %></strong></p>
<h3> Links <h3>
  <ul>
  <% @links.each do |link| %>
  <% if link.sub_ids.include?(@sub.id) %>
    <li><%= link_to link.title, link_url(link.id) %></li>
  <% end %>
  <% end %>
</ul>
<br>
<br>
<%= link_to "Submit Link", new_link_url %>